/*导航*/
.jby_header{
	width:100%;
	height:142px;
	background:#0a4a67;
}
.jby_headerinner{
	width:1200px;
	height:100%;
	margin:0 auto;
	background:url(../img/header.png) no-repeat 0 0;
}
.jby_logo{
	width:77px;
	height:117px;
	margin-left:30px;
	margin-top:20px;
	float:left;
	background:url(../img/logo_03.png) no-repeat 0 0;
}
.jby_header-center{
	width:608px;
	height:60px;
	margin-top:55px;
	margin-left:86px;
	float:left;
}
.jby_header-centerbox{
    width:120px;
	height:50px;
	float:left;
	font-size: 14px;
	font-family: "苹方";
}
.jby_header-center1top{
	color:#fff;
}
.center1left{
	width:70px;
	height:30px;
	float:left;
}
.center1left .linebox{
	width:57px;
	height:2px;
	background:#707577;
}
.center1left .line{
	width:7px;
	height:2px;
	float:right;
	background:#f2c119;
}
.center1left h1{
	font-size: 16px;
	font-family: "苹方";
	color:#fff;
}
.center1right{
	width:25px;
	height:25px;
	background:#21a26b;
	float:left;
	border-radius: 50%;
}
.jby_header-centershu{
	width:5px;
	height:50px;
	float:left;
	margin-right:20px;
	border-right:1px dashed #aaa;
}
.jby_header-center1top{
	width:100%;
	height:20px;

}
.jby_header-center1bot{
	width:100%;
	height:30px;
	margin-top:4px;
}
.jby_header-right{
	width:375px;
	height:34px;
	float:right;
	margin-top:60px;
}
.jby_header-rightle{
	width:243px;
	height:34px;
	border-radius: 34px;
	border:2px solid #fff;
	float:left;
}
.jby_header-rightce{
	width:34px;
	height:34px;
	background:#f0c310;
	border-radius: 34px;
	border:2px solid #fff;
	margin-left:25px;
	float:left;
}
.jby_header-rightri{
	width:34px;
	height:34px;
	background:#1bbf9d;
	border-radius: 34px;
	border:2px solid #fff;
	float:right;
}
.jby_content{
	width:1200px;
	height:953px;
	margin:0 auto;
	background: #eee;
}

/*左边*/

.leftbigbox{
	width: 358px;
	height: 608px;
	background: #fff;
	border: 1px solid #eee;
	margin-left: 60px;
	float: left;
}
.bsl_toubox{
    width: 375px;
    height: 115px;
    background: #3dc75d;
    border-radius: 15px;
    position: relative;
    top: 50px;
    left: -10px;
}
.bsl_picbox{
	width: 87px;
	height: 87px;
	border: 3px solid #68d481;
	border-radius: 5px;
	position: absolute;
	left: 25px;
	top: 11px;
	overflow: hidden;
}
.bsl_yuanbox{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #e8bc0f;
	position: absolute;
	left: 20px;
	top: 5px;
}
.bsl_name{
	color: #fff;
}
.bsl_name p{
	font-size: 16px;
	position: absolute;
	top: 40px;
	left: 140px;
}
.bsl_name span{
	font-size: 14px;
	position: absolute;
	top: 41px;
	left: 206px;
}
.bsl_fen{
	font-size: 16px;
	position: absolute;
	top: 70px;
	left: 260px;
	font-style: normal;
	color: #fff;
}
.bsl_fen1{
	font-size: 16px;
	position: absolute;
	top: 67px;
	left: 285px;
	font-style: normal;
	color: #fff;
}

.bsl_renzheng{
	width: 66px;
	height: 20px;
	font-size: 14px;
	position: absolute;
	top: 40px;
	left: 270px;
	color:#fff;
	text-align: center;
	line-height: 20px;
	border-radius: 12px;
	background: #e8bc0f;
	border: 2px solid #fff;
}
.bsl_xinxinbox{
	width: 110px;
	height: 19px;
	position: absolute;
	left: 138px;
	top: 69px;
}
.bsl_xinxinbox ul .shixing{
	margin-left: 2px;
	float: left;
	opacity: 1;
	display: none;
}
.bsl_xinxinbox ul .kongxing{
	margin-left: 2px;
	float: left;
	display: block;
	cursor: pointer;
}
.bsl_leftxiabox{
	width: 355px;
	height: 440px;
	margin-top: 50px;
}
.bxb_left{
	width:338px;
	height:350px;
	margin-left: 8px;
}
.bxb_lefttop{
	width:382px;
	height:186px;
	margin-top:36px;
	margin:0 20px;
	float:left;
	margin-top:36px;
	overflow: hidden;
}
.bxb_leftone{
	width:100%;
	height:34px;
	float:left;
	position: relative;
}
.bxb_lefttwo{
	width:100%;
	height:34px;
	float:left;
}
.bxb_leftthree{
	width:100%;
	height:64px;
	float:left;
	margin-top:16px;
}
.bxb_leftone .bxb_leftinner{
	width:256px;
	height:100%;
	margin:0 34px;
}

.bxb_leftone .bxb_leftinner .bxb_leftinner1 .bxb_list1{
	width:60px;
	height:17px;
	margin-top:8px;
	float:left;
}
.bxb_leftone .bxb_leftinner .bxb_leftinner1 .bxb_list1 .bxb_list1inner{
	width:14px;
	height:14px;
	background:#f6cc26;
	border-radius:50%;
	float:left;
	margin-top:2px;
}
.bxb_leftone .bxb_leftinner .bxb_leftinner1 .bxb_list1 span{
	float:left;
	font-size:14px;
	margin-left:3px;
	font-family:"苹方";
}
.bxb_leftone .bxb_leftinner .bxb_leftinner1 .bxb_list2{
	width:96px;
	height:18px;
	float:left;
	margin-top:8px;
	margin-left:12px;
	
}
.bxb_leftone .bxb_leftinner .bxb_leftinner1 .bxb_list2 .bxb_list2inner{
	width:32px;
	height:18px;
	float:left;
}
.bxb_leftone .bxb_leftinner .bxb_leftinner1 .bxb_list2 .bsl_huoyue1{
	background:#f1c518;
}
.bxb_leftone .bxb_leftinner .bxb_leftinner1 .bxb_list2 .bsl_huoyue2{
	background:#f19318;
}
.bxb_leftone .bxb_leftinner .bxb_leftinner1 .bxb_list2 .bsl_huoyue3{
	background:#f45c09;
}
.bxb_leftone .bxb_leftinner .bxb_leftinner1 .bxb_list3{
	width:5px;
	height:34px;
	background:#40d1f1;
	float:left;
	border-radius:5px;

}
.bxb_leftone .bxb_leftinner .bxb_leftinner1 .bxb_list4{
	width:72px;
	height:18px;
	float: left;
	margin-left: 16px;

}
.bxb_leftone .bxb_leftinner .bxb_leftinner1 .bxb_list4 .bxb_list4word1{
	font-size:18px;
	font-family:"苹方";
	line-height:34px;
	color:#f45c09;
}
.bxb_leftone .bxb_leftinner .bxb_leftinner1 .bxb_list4 .bxb_list4word2{
	font-family:"苹方";
	line-height:34px;
	color:#f45c09;
}
.bxb_lefttwo .bxb_lefttwoinner{
	width:110px;
	height:16px;
	margin-top:8px;
	margin-left:34px;
}
.bxb_lefttwo .bxb_lefttwoinner .bxb_twoyuan{
	width:14px;
	height:14px;
	background:#40d1f1;
	border-radius:50%;
	float:left;
	margin-top:1px;
}
.bxb_lefttwo .bxb_lefttwoinner span{
	font-family:"苹方";
	float:left;
	margin-left:8px;

}
.bxb_lefttwo .bxb_lefttwoinner a{
	display:block;
	width:38px;
	height:12px;
	color:#40d1f1;
	float:left;
	margin-left:20px;
	font-size:16px;
}
.bxb_leftthree .bxb_leftthreeinner{
	width:150px;
	height:62px;
	border:1px solid #dcdcdc;
	float:left;
}
.bxb_leftthree .bxb_leftthreeinner img{
	margin:10px 24px;
	float:left;
	width:46px;
	height:44px;
}
.bxb_leftthree .bxb_leftthreeinner span{
	float:left;
	font-family:"苹方";
	margin-top:18px;
	margin-left:-8px;
}
.bxb_leftthree .bxb_leftthreeinner a{
	display:block;
	color:#4ac5f9;
	font-size: 20px;
	width:54px;
	height:20px;
	float:left;
	margin-left:-8px;
}
.bxb_leftthree .bxb_leftthreeinner .bxb_guanzhu{
	color:#f56889;
}
.bxb_leftbottom{
	width:312px;
	height:176px;
	float:left;
	margin:0 12px;
	float:left;
	margin-top:-10px;
	/*background: blue;*/
}
.bxb_leftbottomone{
	width:308px;
	height:46px;
	border-radius:46px;
	border:2px solid #25dfe1;
}
.bxb_leftbottomtwo{
	width:308px;
	height:46px;
	border-radius:46px;
	border:2px solid #f1c518;
	margin-top:14px;
}
.bxb_leftbottomthree{
	width:308px;
	height:46px;
	border-radius:46px;
	border:2px solid #25dfe1;
	margin-top:14px;
}
.bxb_leftbottomone .bxb_leftbottomoneinner{
	width:302px;
	height:38px;
	border-radius:38px;
	background:#25dfe1;
	margin:4px 3px;
	line-height:38px;
	text-align:center;
	font-size:20px;
	font-family: "苹方";
	color:#fff;
}
.bxb_leftbottomtwo .bxb_leftbottomtwoinner{
	width:302px;
	height:38px;
	border-radius:38px;
	background:#f1c518;
	margin:4px 3px;
	line-height:38px;
	text-align:center;
	font-size:20px;
	font-family: "苹方";
	color:#fff;
}
.bxb_leftbottomthree .bxb_leftbottomthreeinner{
	width:302px;
	height:38px;
	border-radius:38px;
	background:#25dfe1;
	margin:4px 3px;
	line-height:38px;
	text-align:center;
	font-size:20px;
	font-family: "苹方";
	color:#fff;
}
/*右边*/
.zb_bigbox{
	width: 686px;
	min-height: 500px;
	float: left;
	margin-left:20px;
	background: rgba(0,0,0,0);
}

/***************标签****************/
.zb_title{
	width: 600px;
	height: 52px;
	float: left;
	margin-left: 6px;
	background: rgba(0,0,0,0);
}
.zb_title li{
	width: 106px;
	height: 36px;
	font-size: 18px;
	color:#fff;
	float:left;
	line-height: 36px;
	text-align: center;
	margin:16px 2px 0 16px;
	border-bottom: none;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
}

.zb_title .zb_t-li1{
	background: #e8bc0f;
	height: 46px;
	margin:4px 0 0 12px;
	position: relative;
	border:2px solid #fff;
	border-bottom: none;
}
.zb_henbox{
	width: 80px;
	height: 10px;
	position: absolute;
	left:16px;
	top:32px;
	display: none;
}
.zb_hen{
	width: 32px;
	height: 3px;
	background: #fff;
	float:left;
	margin-right: 3px;
}
.zb_dian{
	width: 4px;
	height: 4px;
	background: #fff;
	float:left;
	margin-right: 3px;
	border-radius: 50%;
}
.zb_hen2{
	width: 32px;
	height: 3px;
	background: #fff;
	float:left;

}

/***************内容****************/
.jby_companyboxinner{
	width:686px;
	height:900px;
	float:left;
	background:#fff;
}
.jby_companyboxinner ul li{
	color:#7a7a7a;
}
.jby_companyitem{
	width:686px;
	height:762px;
	margin-left:100px;
	float:left;
	margin-top:64px;
}
.jby_companylogo input{
	width:86px;
	height:86px;
	border-radius: 3px;
	border:2px solid #f2f2f2;
	margin-left:60px;
	background:url(../img/1_03.png) no-repeat 0 0;
}
.jby_companyname input{
	border:2px solid #f2f2f2;
	border-radius: 3px;
	margin-left:23px;
	margin-top:18px; 
}
.jby_companyintr{
	width:600px;
	height:100px;
	position:relative;
    margin-top:18px;
}
.jby_companyintr textarea{
	width:300px;
	height:74px;
	border:2px solid #f2f2f2;
	border-radius: 3px;
    position:absolute;
    top:0;
    left:92px;
}
.jby_companyintr span{
    position:absolute;
    bottom:0;
    left:100px;
}
.jby_companytype{
	width:292px;
	height:31px;
	margin-top:18px;
}
.jby_companytypescal{
	width:200px;
	height:30px;
	float:right;
	position:relative;
	z-index: 8;
}
.jby_companytypescal .scal1{
	width:200px;
	height:31px;
	border:2px solid #e5e5e5;
}
.jby_companybelong{
	width:232px;
	height:34px;
	border-radius: 5px;
	margin-top:18px;
} 
.jby_companybelongto{
	width:140px;
	height:34px;
	float:right;
	position:relative;
	z-index: 6;
}
.jby_companybelongto .scal2{
	width:132px;
	height:30px;
}
.jby_companyspeci{
	width:270px;
	height:31px;
	border-radius: 3px;
	margin-top:18px;
}
.jby_companyspeciclass{
	width:178px;
	height:30px;
	float:right;
	position:relative;
	z-index: 5;
}
.jby_companyspeci .scal3{
	width:180px;
	height:30px;
}
.jby_companyspeci .caidan3 li{
	width:180px;
	height:30px;
}
.jby_companyspeciclass .xiala3{
	top:12px;
	left:158px;
}
.jby_companycity{
	width:300px;
	height:31px;
	margin-top:18px;
	position:relative;
}
.jby_companycity .sheng{
	width:90px;
	height:30px;
	border-radius: 3px;
	position:absolute;
	top:0;
	left:92px;
	z-index: 1;
}
.jby_companycity .shi{
	width:90px;
	height:30px;
	border-radius: 3px;
	position:absolute;
	top:0;
	left:202px;
	z-index:2;
}
.jby_companycity .qu{
	width:90px;
	height:30px;
	position:absolute;
	top:0;
	left:312px;
	z-index: 1;
}
.lj_input{
	width:90px;
	height:30px;
	border:2px solid #e5e5e5;
	border-radius: 3px;
	float:left;
	position:relative;
}
.kuan_lj_box{
	width:100%;
	height:100%;
	line-height: 30px;
	box-shadow: 0 2px 3px #e5e5e5;
	box-sizing:border-box;
	color:#929292;
}
.kuan_lj_xiala{
	width: 14px;
    height: 12px;
    position: absolute;
    line-height: 32px;
    top: 0px;
    right: 12px;
    opacity: 0.8;
}
.caidan li{
	width:100%;
    height:100%;
    border:2px solid #e5e5e5;
    box-sizing:border-box;
    background:#f4f4f4;
    color:#a3a2a2;
}
.caidan li:hover{
	color:#fff;
	background:yellow;
}
span:hover{
	opacity: 1;
}
.jby_companyweb{
	width:350px;
	height:30px;
	position:relative;
	margin-top:18px;
}
.jby_companyweb p{
	color:#7a7a7a;
}
.jby_companyweb input{
	width:126px;
	height:26px;
	border:2px solid #f2f2f2;
	border-radius: 3px;
	position:absolute;
	border:2px solid #f2f2f2;
	top:0;
	left:92px;
}
.jby_companyweb .web{
	width:98px;
	height:30px;
	position:absolute;
	top:0;
	right:0;
}
.jby_companymore{
	width:600px;
	height:149px;
	margin-top:18px;
	position:relative;
}
.jby_companymore textarea{
	width:300px;
	height:130px;
	border:2px solid #f2f2f2;
	border-radius: 3px;
	position:absolute;
	top:0;
	left:92px;
}
.jby_savebutton{
	width:148px;
	height:43px;
	margin-top:24px;
	margin-left:92px;
	float:left;
}
/* ******************页脚************************** */
.jby_footer{
	width:100%;
	height:308px;
}
.jby_footerinner{
	width:1349px;
	height:100%;
	margin:0 auto;
	background:#2d2d2d;
}
.jby_footerinnerbox{
	width:1200px;
	height:100%;
	margin:0 auto;
}
.jby_footerinnerboxleft{
	width:77px;
	height:117px;
	float:left;
	margin-top:78px;
	background:url(../img/logo_03.png) no-repeat 0 0;
}
.jby_footerinnerboxline{
	width:5px;
	height:140px;
	float:left;
	border-left: 1px solid #4c4b4b;
	margin-top: 76px;
	margin-left: 53px;
	position:relative;
}
.jby_footerinnerboxlinetop{
	width:5px;
	height:5px;
	border-radius: 50%;
	position:absolute;
	background:#acacac;
	top:0;
	left:-3px;
}
.jby_footerinnerboxlinebot{
	width:5px;
	height:5px;
	border-radius: 50%;
	position:absolute;
	bottom:0;
	background:#acacac;
	left:-3px;
}
.jby_footerinnerboxcenter{
	width:730px;
	height:140px;
	float:left;
	margin-top: 76px;
	margin-left: 45px;
}
.jby_footerinnerboxcentertop{
	width:730px;
	height:16px;
	float:left;
}
.jby_footerinnerboxcentertop a{
	margin-right:46px;
	font-size: 16px;
	color:#6d6c6c;
}
.jby_footerinnerboxcentertop a:hover{
	color:#fff;
}
.jby_footerinnerboxcenterline{
	width:245px;
	height:0px;
	float:left;
	margin-top:20px;
	border-top: 1px dashed #8f8d8d;
}
.jby_footerinnerboxcentercopy p{
    width:730px;
	height:16px;
	float:left;
	margin-top:15px;
	font-size: 14px;
	color:#6d6c6c;
}
.jby_footerinnerboxcenterbox{
	width:230px;
	height:65px;
	float:left;
	margin-top:20px;
}
.jby_footerinnerboxcenterbox a{
	margin-right:20px;
}
.jby_footerinnerboxright{
	width:142px;
	height:142px;
	float:right;
	background:blue;
	margin-top:73px;
}